# General
.DS_Store
.venv
!.vscode

# Databases
.dbdata

# Go
# Test binary, built with `go test -c`
*.test

# NodeJS
# Dependency directories
node_modules/
# Optional npm cache directory
.npm

# Python
__pycache__